@font-face {
  font-family: Montserrat;
  src: url('../assets/fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: Montserrat-ExtraLight;
  src: url('../assets/fonts/Montserrat/Montserrat-ExtraLight.ttf');
}
@font-face {
  font-family: Montserrat-ExtraBold;
  src: url('../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf');
}

body {
  background-color: #212121;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  width: 100%;
}
.container {
  min-height: 100vh;
  margin: 0;
  top: 0;
  position: relative;
  width: 100%;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 95% 5%;
  grid-template-rows: 95% 5%;
}

canvas#waves {
  z-index: 0;
  position: absolute;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  max-width: 95%;
  margin: 0 auto;
}

.content p, .footer p {
  font-family: Montserrat-ExtraLight;
  font-size: 23px;
  color: #FFFFFF;
  letter-spacing: 1.55px;
  text-align: center;
}

.fadein {
  /* animation-delay: 1s;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */ /* Firefox < 16 */ /* Internet Explorer */ /* Opera < 12.1 */
    animation: 3s ease 0s normal forwards 1 fadein;
}
.slideup {
  -webkit-animation: fadein 1s, slideup .8s; /* Safari, Chrome and Opera > 12.1 */ /* Firefox < 16 */ /* Internet Explorer */ /* Opera < 12.1 */
            animation: fadein 1s, slideup .8s;
}
.slidedown {
  -webkit-animation: slidedown .8s; /* Safari, Chrome and Opera > 12.1 */ /* Firefox < 16 */ /* Internet Explorer */ /* Opera < 12.1 */
            animation: slidedown .8s;
}

/* .delay {
  animation: fadein .8s;
  animation-delay: .8s;
} */

.shake:hover {
  -webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
          animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.actions {
  margin-top: 120px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 20px 50%;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
}

.actions button {
  width: 200px;
  padding: 20px;
  font-size: 24px;
  color: #fff;
  letter-spacing: 1.5px;
  text-align: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  box-shadow: 0 0px 0px 0 rgba(61,61,61,0.24), 0 0px 0px 0 rgba(0,0,0,0.50);
}

.actions button:hover {
  transform: translateY(-4px) scale(1.05);
  box-shadow: 0 2px 4px 0 rgba(61,61,61,0.24), 0 2px 4px 0 rgba(0,0,0,0.50);
}
.actions button:active {
  transform: translateY(0px) scale(0.9);
  box-shadow: 0 0px 0px 0 rgba(61,61,61,0.24), 0 0px 0px 0 rgba(0,0,0,0.50);
}

.actions button.default {
  border: 1px solid #6E6E6E;
  background-color: #212121;
}
.actions button.primary {
  background-color: #4B23FF;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.footer p, .footer a {
  font-size: 16px;
  color: #e0e0e0;
  text-align: center;
  text-decoration: none; 
}

.main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0;
  cursor: default;
  width: 100%;
  user-select: none;
}

.main-text h1 {
  display: inline-block;
  margin: 0 5px;
  font-family: Montserrat-ExtraBold;
  font-size: 101px;
  text-align: center;
  text-shadow: -5px 0 0 #D400FF;
}


.main-text h1:last-child {
  text-shadow: -5px 0 0 #9013FE;
}

h1.circle1 {
  background-image: -webkit-linear-gradient(334deg, #EEEEEE 3%, #BD10E0 97%);
  background-image: -o-linear-gradient(334deg, #EEEEEE 3%, #BD10E0 97%);
  background-image: linear-gradient(116deg, #EEEEEE 3%, #BD10E0 97%);
}
h1.circle2 {
  background-image: -webkit-linear-gradient(334deg, #BD10E0 3%, #9013FE 97%);
  background-image: -o-linear-gradient(334deg, #BD10E0 3%, #9013FE 97%);
  background-image: linear-gradient(116deg, #BD10E0 3%, #9013FE 97%);
}
h1.circle {
  color: transparent;
  border-radius: 100%;
  content: '';
  height: 60%;
  margin: 0;
  text-shadow: none;
}

img.logo {
  position: fixed;
  margin: 20px;
}

@media (max-width: 700px) {
  .content p, .footer p {
    font-size: 18px;
  }
  .main-text h1 {
    font-size: 70px;
  }
  .actions button {
    width: 100%;
    font-size: 16px;
  }
}
