@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BandeinsSans";
  src: local("BandeinsSans"),
    url(../fonts/BandeinsSansRegular.otf) format("opentype");
}

body {
  background-color: black;
  background-image: url(../images/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
